@import "tailwindcss";
@plugin "daisyui";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif !important;
}

/* Buttons */
.k-btn-white {
  @apply
  shadow-xs bg-white hover:bg-gray-50 active:bg-gray-100 
  border border-gray-200
  px-3 py-2.5 rounded-lg 
  cursor-pointer text-wrap
}
.k-btn-plain {
  @apply
  bg-gray-50 hover:bg-gray-100 active:bg-gray-200 
  px-3 py-2.5 rounded-lg 
  cursor-pointer text-wrap
}
.k-btn-black {
  @apply
  shadow-xs bg-black text-white hover:opacity-85 active:opacity-100
  border border-black disabled:opacity-60 disabled:cursor-not-allowed
  px-3 py-2.5 rounded-lg 
  cursor-pointer text-wrap
}

/* Inputs */
.k-input {
  @apply
  shadow-xs bg-white hover:bg-gray-50 focus:border-gray-600
  border border-gray-200
  px-3 py-2.5 rounded-lg cursor-pointer outline-none
  placeholder:text-gray-300
}
.k-input-borderless {
  @apply
  px-3 py-2.5 rounded-lg cursor-pointer outline-none
  placeholder:text-gray-300
}

code {
  @apply
  border border-gray-200 rounded-md
}